{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello, It's me Mahesh Chaulagain. I am an IT engineer. I love to code and learn new skills.
        I am quite familiar with skills mentioned below:</p>
      <ul>
      <li><b>Coding</b><br>
      I have gained a wealth of experience in coding and is familiar with languages like Python, Java, SQl. I also have basic knowledge of web developpment tools like html, css and js.
      </li>
        <li>
      <b>Design</b><br>
      I have basic knowledge of designing tools too. I am quite familiar with Photoshop, Figma and Canva.
      </li>
      </ul>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}